DB_HOST=server.example.com
DB_NAME=DatabaseName
DB_USER=username
DB_PASS=password
BCP_PATH=
SQL_CMD_PATH=

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user
SMTP_PASS=password
SMTP_FROM=noreply@example.com
SMTP_SSL=true
EMAIL_ATTACHMENT_MAX_SIZE=10MB